@import "../css/variables.module.scss";

.xcalidraw {
  .tool-popover-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 0.5rem;
    background: var(--island-bg-color);
    box-shadow: var(--shadow-island);
    padding: 4px;
    z-index: var(--zIndex-layerUI);
  }

  &:focus {
    outline: none;
  }
}

.Shape {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
