@import "open-color/open-color.scss";
@import "../css/variables.module.scss";

.xcalidraw {
  .App-toolbar {
    &.zen-mode {
      .ToolIcon__keybinding,
      .HintViewer {
        display: none;
      }
    }

    &--compact {
      .ToolIcon__keybinding {
        display: none;
      }

      .App-toolbar__divider {
        margin: 0;
      }
    }

    &__divider {
      width: 1px;
      height: 1.5rem;
      align-self: center;
      background-color: var(--default-border-color);
      margin: 0 0.25rem;

      @include isMobile {
        margin: 0;
      }
    }
  }

  .App-toolbar__extra-tools-trigger {
    box-shadow: none;
    border: 0;
    background-color: transparent;

    &:hover {
      background-color: var(--button-hover-bg);
    }

    &:active {
      background-color: var(--button-hover-bg);
    }

    &.is-open,
    &--selected {
      background: var(--color-surface-primary-container);

      .ToolIcon__icon {
        --icon-fill-color: var(--color-on-primary-container);
      }
    }
  }

  .App-toolbar__extra-tools-dropdown {
    min-width: 11.875rem;
    z-index: 1;
  }
}
