.xcalidraw {
  .XcalidrawLogo {
    --logo-icon--mobile: 1rem;
    --logo-text--mobile: 0.75rem;

    --logo-icon--xs: 2rem;
    --logo-text--xs: 1.5rem;

    --logo-icon--small: 2.5rem;
    --logo-text--small: 1.75rem;

    --logo-icon--normal: 3rem;
    --logo-text--normal: 2.2rem;

    --logo-icon--large: 90px;
    --logo-text--large: 65px;

    display: flex;
    align-items: center;
    gap: 0.125rem;

    svg {
      flex: 0 0 auto;
    }

    .logo-text-bigger {
      font-size: 3.5rem;
      font-weight: 800;
    }

    .XcalidrawLogo-icon {
      width: auto;
      height: 100%;
      color: var(--color-logo-icon);
    }

    .XcalidrawLogo-text {
      margin-left: 0;
      width: auto;
      color: var(--color-logo-text);
    }

    &.is-mobile {
      .XcalidrawLogo-icon {
        height: var(--logo-icon--mobile);
      }

      .XcalidrawLogo-text {
        height: var(--logo-text--mobile);
        margin-left: 0;
      }
    }

    &.is-xs {
      .XcalidrawLogo-icon {
        height: var(--logo-icon--xs);
      }

      .XcalidrawLogo-text {
        height: var(--logo-text--xs);
      }
    }

    &.is-small {
      .XcalidrawLogo-icon {
        height: var(--logo-icon--small);
      }

      .XcalidrawLogo-text {
        height: var(--logo-text--small);
      }
    }

    &.is-normal {
      .XcalidrawLogo-icon {
        height: var(--logo-icon--normal);
      }

      .XcalidrawLogo-text {
        height: var(--logo-text--normal);
      }
    }

    &.is-large {
      .XcalidrawLogo-icon {
        height: var(--logo-icon--large);
      }

      .XcalidrawLogo-text {
        height: var(--logo-text--large);
      }
    }
  }
}
