@import "../../css/variables.module.scss";

.xcalidraw {
  .collab-button {
    --button-bg: var(--color-primary);
    --button-color: var(--color-surface-lowest);
    --button-border: var(--color-primary);

    --button-width: var(--lg-button-size);
    --button-height: var(--lg-button-size);

    --button-hover-bg: var(--color-primary-darker);
    --button-hover-border: var(--color-primary-darker);

    --button-active-bg: var(--color-primary-darker);


    // Match PresentationTrigger styles
    box-shadow: none;
    border: none;
    border-radius: 8px;

    flex-shrink: 0;

    // double .active to force specificity
    &.active.active {
      background-color: #0fb884;
      border-color: #0fb884;

      svg {
        color: #fff;
      }

      &:hover,
      &:active {
        background-color: #0fb884;
        border-color: #0fb884;
      }
    }
  }

  .CollabButton.is-collaborating {
    background-color: var(--button-special-active-bg-color);

    .ToolIcon__icon svg,
    .ToolIcon__label {
      color: var(--icon-green-fill-color);
    }
  }

  .CollabButton-collaborators {
    :root[dir="ltr"] & {
      right: -5px;
    }
    :root[dir="rtl"] & {
      left: -5px;
    }
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 5px;
    border-radius: 50%;
    background-color: $oc-green-2;
    color: var(--icon-green-fill-color);
    font-size: 0.6rem;
    font-family: "Cascadia";
    box-shadow: 0 0 0 1px var(--color-surface-lowest);
  }
}
