@import "../../../packages/xcalidraw/css/theme.scss";

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: var(--default-bg-color);
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: var(--default-bg-color);
}

.dashboard-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
