@import "@packages/xcalidraw/css/theme.scss";

.input {
  display: flex;
  width: 100%;
  height: 38px;
  border-radius: var(--border-radius-md);
  border: 1px solid transparent;
  background-color: var(--color-surface-high);
  padding: 10px 12px;
  font-size: 14px;
  font-family: var(--ui-font);
  color: var(--color-on-surface);
  transition: all 0.2s ease;
  box-sizing: border-box;

  &::placeholder {
    color: var(--color-gray-60);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    background-color: var(--color-gray-20);
    color: var(--color-on-surface);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
