.ui-separator {
  flex-shrink: 0;
  background-color: var(--color-border-outline); /* bg-border */

  &.horizontal {
    height: 1px;
    width: 100%;
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}
